@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

header {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #ffffff;
	color: #fff;
}

#replyList ul{
	list-style: none;
}


#headerbar {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ff0707c2;
	color: white;	
}

#headerbar a{
	color:white;
}
#headerbar ul{
	padding-top: 5px;
}
#headerbar #CL{
	margin-bottom: 0px;

}


.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}


textarea .replyarea:focus {
    outline: none;
    resize:none
}




